<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="robots" content="noindex">
  <script>var exports = {};</script>
  <script src="https://unpkg.com/vue@2"></script>
  <script src="https://unpkg.com/@tinymce/tinymce-vue@3.2.8/lib/browser/tinymce-vue.min.js"></script>
  <link rel="stylesheet" type="text/css" href="main.css" media="screen" />
</head>
<body>
  <div id="app">
    <div class="header">Veloplus Helper</div>
      <div class="blocks">
          <h1>Template</h1>
          <div>
             <span v-for="template, key in this.templates">
                <button class="ui button templates toggle" @click="activateTemplate(key)">{{ template.name }}</button>
             </span>   
             <span>
                | <button class="ui button toggle delete" @click="resetContent()"> x Text Löschen</button>
                <button class="ui button toggle save" @click="saveContent()">Text lokal Speichern</button>
             </span>   
          </div>
          <div>
             <span v-for="block in this.blocks">
                <button class="ui button blocks toggle" :class={active:block.active} @click="block.active = !block.active" v-html="block.name">{{ block.name }}</button>
             </span>   
              </div>
      </div>
      <div class="text-input">
          <div v-for="block,key in this.blocks">
            <div v-if="block.active">
              <div v-if="key == 'freestyle'">
                <editor 
                    v-model="block.content" 
                    api-key="ekjnhz7itvvgp05ree5d2azoz5hobav2pbtzrkvpe7h18rmp"
                    :init="tinymceConfig.freestyle"
                />
              </div>
              <div v-else>
                  <div>                
                  <editor 
                    :class="block.heading"
                    v-model="block.name" 
                    api-key="ekjnhz7itvvgp05ree5d2azoz5hobav2pbtzrkvpe7h18rmp"
                    :init="tinymceConfig.header"
                /> 
              </div><div>
                <editor 
                    v-model="block.content" 
                    api-key="ekjnhz7itvvgp05ree5d2azoz5hobav2pbtzrkvpe7h18rmp"
                    :init="tinymceConfig.standard"
                />
                </div>
            </div>
          </div>
        </div>
     </div>
      <div class="html-output" ><div>{{ htmlText }}</div>
        <button class="copy" @click="this.copyCode">Code Kopieren</button>
      </div>
      <div class="current">
        <div>
        <input type="text" class="product-number-input" @keyup.enter="getCurrentText" v-model="productNumber" placeholder="e.g. 33001234">
        <button class="load-text" @click="getCurrentText">Aktueller Text Laden</button>
        </div>
        <h2>{{ currentProduct }}</h2>
        <div class="current-text" v-html="this.currentText"></div>
      </div>
      <div class="local-storage">
        <div class="saved-items" v-for="savedItem,index in savedItems">
          <div class="product-number">{{ savedItem[0] }}</div>
          <div>{{ savedItem[1] }}</div>
          <button class="load-text" @click="loadContent(savedItem[1])">Laden</button>
          <button class="load-text" @click="deleteFromLocalStorage(index)">Löschen</button>
        </div>
      </div>
    </div>

  <script type="module">
    import tinyconfig_json from "./tinymce_config.json" assert { type: 'json' };
    import templates_json from "./templates.json" assert { type: 'json' };
    
    var app = new Vue({

      el: '#app',
        components: {
        'editor': Editor 
        },
      data: {
        tinymceConfig: tinyconfig_json,
        currentText: '',
        currentProduct: '',
        productNumber: '',
        product: { number: '', description: ''},
        templates: {
            basic: { name: 'Basic' },
            advanced: { name: 'Erweitert' },
            vpBrand: { name: 'Veloplus Eigenprodukte' },
            freestyle: { name: 'Freestyle' }
        },
        blocks: JSON.parse(JSON.stringify(templates_json)),
        savedItems: '',
      },
  computed: {
    htmlText: function () {
      let html = '';
      for(const text in this.blocks) {
        if(this.blocks[text].content && this.blocks[text].active) {
          if(text == 'freestyle'){
            html = html + '<p>' + `${this.blocks[text].content}` + '</p><br>';
          } else {
            html = html + '<'+ `${this.blocks[text].heading}` + '>' + `${this.blocks[text].name}` + '</'+ `${this.blocks[text].heading}` + '><p>' + `${this.blocks[text].content}` + '</p><br>';
          }
        }
      }
      return html;
    },
  },
  mounted() {
    this.savedItems = localStorage.getItem("descriptions")
      ? JSON.parse(localStorage.getItem("descriptions"))
      : [];
  },
  methods: {
      copyCode: function(event) {
        event.currentTarget.innerHTML = "ist Kopiert!";
        navigator.clipboard.writeText(this.htmlText);
      },
      getCurrentText: async function() {
        console.log(this.productNumber);
        return await fetch('https://api.veloplus.ch/graphql', {
          method: 'POST',
          headers: {
              'Accept-Encoding': 'gzip, deflate, br',
              'Content-Type': 'application/json',
              'Accept': 'application/json',
              'Connection': 'keep-alive',
              'DNT': '1',
              'Origin': 'https://api.veloplus.ch'
          },
          body: JSON.stringify({
              'query': ' { product(productId: ' + this.productNumber + ') { texts {title description}}}'
      })
      })
      .then(response => response.json())
      .then((data) => { this.currentText = data.data.product.texts.description; this.currentProduct = data.data.product.texts.title});
      },
      resetContent: function() {
        this.blocks = JSON.parse(JSON.stringify(templates_json));
      },
      loadContent: function(content) {
        this.resetContent();
        this.activateTemplate('freestyle');
        this.blocks.freestyle.content = content;
      },
      deleteFromLocalStorage: function(index) {
        this.savedItems.splice(index, 1);
      },
      saveContent: function() {
        this.savedItems.push([ this.productNumber, this.htmlText ]);
        localStorage.setItem("descriptions", JSON.stringify(this.savedItems));
        this.resetContent();
      },
      activateTemplate: function(template) {
          if(template == 'basic') {
              this.blocks.nutshell.active = true;
              this.blocks.details.active = true;
              this.blocks.specs.active = false;
              this.blocks.inTheBox.active = false;
              this.blocks.review.active = false;
              this.blocks.freestyle.active = false;

          }
          if(template == 'advanced') {
              this.blocks.nutshell.active = true;
              this.blocks.details.active = true;
              this.blocks.specs.active = true;
              this.blocks.inTheBox.active = true;
              this.blocks.review.active = true;
              this.blocks.freestyle.active = false;

          }
          if(template == 'vpBrand') {
              this.blocks.nutshell.active = false;
              this.blocks.details.active = true;
              this.blocks.review.active = false;
              this.blocks.specs.active = true;
              this.blocks.inTheBox.active = true;
              this.blocks.freestyle.active = false;

          }
          if(template == 'freestyle') {
              this.blocks.nutshell.active = false;
              this.blocks.details.active = false;
              this.blocks.review.active = false;
              this.blocks.specs.active = false;
              this.blocks.inTheBox.active = false;
              this.blocks.freestyle.active = true;
          }
      }
  }
  }
    )
  </script>
</body>
</html>