@font-face {
  font-family: Geogrotesque-Medium;
  src: url("/assets/Geogrotesque-Medium.woff2") format("woff");
  font-weight: 400;
}
#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "blocks blocks"
    "loadProduct loadProduct"
    "old input"
    "manufacturer input"
    "html html"
    "copybutton copybutton"
    "notice notice";
  color: #2c3e50;
  font-family: Open Sans, sans-serif;
  justify-items: center;
}

#explanation {
  color: #2c3e50;
  font-family: Open Sans, sans-serif;
  margin-left: 80px;
  margin-bottom: 80px;
  padding: 10px 30px;
  width: 1000px;
  border: 1px solid black;
  grid-area: notice;
}

a,
button {
  color: #4fc08d;
}
.load-product {
  grid-area: loadProduct;
  padding: 5px;
}
.text-input {
  width: 720px;
  font-size: 18px;
  padding: 20px;
  line-height: 28px;
  grid-area: input;
  border: black solid 1px;
  min-height: 50vh;
}
.product-number-input {
  line-height: 36px;
}
.blocks {
  padding: 20px;
  grid-area: blocks;
  justify-self: center;
}
.html-output {
  font-family: "courier";
  padding: 100px;
  grid-area: html;
  background-color: white;
  color: black;
}
.current-text {
  width: 720px;
  font-size: 18px;
  padding: 20px;
  line-height: 28px;
  grid-area: input;
  border: black solid 1px;
}
.current {
  grid-area: old;
}
.copy {
  grid-area: copybutton;
  width: 100%;
  transition: background-color 100ms linear;
}
.html-code {
  transition: background-color 300ms ease-in-out;
  padding: 20px;
  border-radius: 10px;
  margin: 5px;
}
.copied {
  background-color: green;
  color: white;
}
.h2,
h2 {
  font-family: Geogrotesque-Medium, sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.h3,
h3 {
  font-size: 14px;
  font-weight: 700;
}
.header {
  grid-area: header;
  padding: 10px;
  text-align: center;
  font-weight: 700;
}
button {
  background: none;
  border: solid 1px;
  border-radius: 5px;
  font: inherit;
  padding: 0.75em 2em;
  margin: 5px;
  color: grey;
}
button.active {
  background-color: rgb(177, 18, 25);
  color: white;
}
button.templates:focus {
  background-color: rgb(177, 18, 25);
  color: white;
}
button.delete {
  background-color: red;
  color: white;
}
.copyflash {
  background-color: grey;
}
.local-storage {
  grid-area: savedItems;
}
.saved-items {
  border-top: 1px solid black;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 5fr 1fr 1fr;
}
